.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 130vh;
}

.profile-container {
  display: inline-block;
  text-align: center;
  position: relative;
}

.profile-image {
  margin-top: 20px;
  width: 220px;
  min-width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 2px solid #784fe8;
  object-fit: cover;
}

.h2-profile {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  color: #784fe8;
  padding-bottom: 0;
  margin-bottom: 0;
  width: auto;
  height: 25px;
  padding: 15px 15px 15px 15px;
  background-color: #f7f0ff;
  border-radius: 25px;
  margin-top: 20px;
}

.InfoAboutUser-profile {
  display: inline-block;
  font-size: 20px;
  text-align: justify;
  padding-bottom: 0;
  margin-top: 20px;
  width: auto;
  height: 25px;
  padding: 15px 5px 15px 5px;
}

.teg-profile {
  margin-top: 10px;
  display: inline-block;
  border-radius: 25px;
  height: 25px;
  border: none;
  background-color: #ff735c;
  color: white;
  font-size: 16px;
  padding: 8px 30px 6px 30px;
}
.tegList-profile {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding-left: 0;
}

.MY-event {
  display: flex;
  font-size: 25px;
  text-align: left;
  color: #784fe8;
  padding-bottom: 0;
  margin-bottom: 0;
  width: auto;
  height: 25px;
  padding: 15px 15px 15px 15px;
}
