.authorization-form {
  margin: 10% 0 5% 0;
  align-items: center;
}

.input-style {
  display: inline-flex;
  font-size: 20px;
  border-radius: 25px;
  min-width: 200px;
  min-height: 30px;
  position: relative;
  border: 2px solid #784fe8;
  transition: border-color 0.3s;
}

.input-style:focus {
  border-color: #ff735c;
  outline: #ffffff;
}

.input-style:hover {
  transform: scale(1.05);
}

.img-style {
  border: 2px solid #784fe8;
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  margin-top: 10px;
}

.p-style {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin: 10px 0 0 -200px;
}

.button-style {
  border: 2px solid #ff735c;
  border-radius: 25px;
  background-color: #ff735c;
  color: #ffffff;
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  content: "войти";
}

.header-style {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #784fe8;
  margin: 0 20px 0 0;
}
