.aaaaa {
  min-height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 40px;
}

.search-container {
  display: inline-flex;
}

.input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #784fe8;
  border-radius: 15px;
  outline: none;

  &:focus {
    font-size: 16px;
    border-color: #ff735c;
    padding-left: 15px;
  }
}
